.nav-bar{
    
    background-color:skyblue ;
    width: 100vw;
    height: 50px;
    display: flex;
    gap:100px; 
    align-items: center;
    padding-left: 40px;
}

.nav-bar a{
    color: white;
}

.nav-bar a:hover{
    color:red;
}
