h1{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

img{
    text-align: center;
    border: 3px solid blue;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}