.logo{
    width: 100px;
    height: 37px;
    display: inline;
    align-items: center;
    padding-top: 1000px;
}

.search input{
    width: 854.400px;
    height: 24px;
}

h1{
    text-align: center;
}

input{
    width: 819.38px;
    height: 24px;
    
    
}

.search{
    padding: 10 20 10 20;
    border: 0.800 0.800 0.800 0.800;
    border-radius: 0.25rem;
    border-width: 1px;
    align-items: center;
}